@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --back:#f7cad0;
    --h1: #ff477e;
    --p: #ff0a54;
    --fundo: #ff7096;
    --rosa5: ;
}

::-webkit-scrollbar {
    display: none;
}

.anton-regular {
    font-family: "Anton","Caveat Brush" ,serif;
    font-weight: 400;
    font-style: normal;
  }

  .caveat-brush-regular {
    font-family: "Caveat Brush", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  

html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: var(--back);
    width: 391px;
    height: 100dvw;
    text-align: center;
}

.foto{
    display: flex;
    justify-content: center;
    text-align: center;
}

.foto img {
    width: 200px;
    border-radius: 50%;
    margin: 20px;
}

h1 {
    font-family: "anton";
    color: var(--h1);
}

.links {
    display: flex;
    flex-flow: column;
}

.links a {
    text-decoration: none;
    margin: 20px;
    background-color: var(--fundo);
    color: var(--p);
    padding: 20px;
    border-radius: 30px;
    font-size: 2em;
    font-family: "Caveat Brush";
}

